 body
{

    font-size:large;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}
button
{
    text-align: center;
    color:White;
    background-color: green;
    padding: 10px 20px;
    border: 1px solid green ; ;
    
    margin-top:2px ;
    font-weight: bold;
 
    
}
#delete-btn 
{
    background-color: white;
    border-color: green;
    color : green ; 
    
}

input
{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    margin-bottom: 4px;
    
}
li
{
     margin-top: 5px;
}

ul
{
    list-style : none;
}

a
{
    color : green;
}